global
    maxconn 20000
    tune.sndbuf.client 131072
    tune.rcvbuf.server 131072

resolvers docker
    nameserver dns 127.0.0.11:53
    hold valid 5s

defaults
    mode http
    timeout connect 3s
    timeout client 60s
    timeout server 60s
    timeout tunnel 1h
    option http-server-close
    retries 3
    option redispatch 1
    timeout check 3s
    default-server inter 1s fall 2 rise 2 maxconn 4096

frontend fleetline
    bind :8000
    acl dashboard path_beg /ws
    use_backend gateway if dashboard
    default_backend api

backend api
    balance leastconn
    option httpchk GET /health/ready
    server-template api 64 api:8000 check resolvers docker init-addr none

backend gateway
    balance leastconn
    option httpchk GET /health/ready
    server-template gateway 64 gateway:8000 check resolvers docker init-addr none
