global
    maxconn 20000

resolvers docker
    nameserver dns 127.0.0.11:53
    hold valid 5s

defaults
    mode http
    timeout connect 3s
    timeout client 60s
    timeout server 60s
    timeout tunnel 1h
    option http-server-close

frontend fleetline
    bind :8000
    acl dashboard path_beg /ws
    use_backend gateway if dashboard
    default_backend api

backend api
    balance leastconn
    option httpchk GET /health/ready
    server-template api 16 api:8000 check resolvers docker init-addr none

backend gateway
    balance leastconn
    option httpchk GET /health/ready
    server-template gateway 16 gateway:8000 check resolvers docker init-addr none
